/*Створіть HTML-сторінку, у якій розмістіть блок main та кілька 
блоків article усередині нього, розташованих у ряд. Зробіть так, 
щоб кожен article мав сірий фон та розмір 100 пікселів (ширина) на 
200 пікселів (висота) та мав відступ від кожного іншого такого блока 
(і від меж сторінки) рівно 20 пікселів. Покажіть свій код.*/
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
}

main article {
  width: 100px;
  height: 200px;
  margin: 10px;
  background: gray;
}

